body {
    margin: 0;
    background-color: #5a228b;
}

#container {
    padding: 20px;
}

table {
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-collapse: collapse;
    box-shadow: 10px 10px 5px #d5b8ff;
}
   
caption {
    font-family: "bold";
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 2px 2px #000;
}
th, td {
    font-family: 'regular';
}

th {
    border-bottom: 2px solid #5a228b;

    

    padding: 5px;
}
tr:nth-child(even) {
    background-color: #f1e7fe;
}

tbody tr:hover {
    background-color: #e4f1fe;
    text-align: center;
}

td:first-of-type, th:first-of-type {
    text-align: left;
    padding-left: 20px;
}
td:last-of-type, th:last-of-type {
    text-align: right;
    padding-right: 20px; 
       
}
#contacts-mobile {
    display: none;
}